
body {
	background-color: #384057;
	
}
.container-fluid {
	background-color: #F1BF80;
	padding: 50px;
	padding-top: 60px;
	padding-bottom: 0px;
	font-family: 'Cabin', sans-serif;
}


/* 
#footer{
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;
	width: 100%;
} */

.name {
	font-weight: bold;
}
  
  .row{
  padding: 20px;
  color: #FF5C15;
 
  }
  
  
a:link {
    color: #09BDBC;
}

a:visited {
    color: #F1BF80;
}

a:hover {
    color: #F1BF80;
}